@page "/counter"

@using BlazorXamarin.Application.Contracts

@inject ITranslationService _translationService

<h1>@_translationService["Counter_Header"]</h1>

<p>@_translationService["Counter_CurrentCount"] @currentCount.ToString("#,##0")</p>

<button class="btn btn-primary" onclick="@IncrementCount">@_translationService["Counter_Increment"]</button>

@functions {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
